.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

#folders
content/
private
content/templates
content/.obsidian
content/Sterling Swanson
content/z_Templates
content/Charaktere/Investigators/Wanda*
content/Abenteuertagebuch/Szenarios
